.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.secondpart {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.priceDetails {
  margin-top: 20px;
}

.detailRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.detailRow span {
  font-size: 14px;
}

.priceDetails h3 {
  font-size: 20px;
  margin-bottom: 20px;
}



.delivery {
  color: green;
}

.free {
  font-size: 12px;
  color: #007B00;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}

.imggecart {
  border-radius: 50%;
  max-width: 100%;
  max-height: 30px;
}

@media (max-width: 768px) {
  .detailRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .priceDetails h3 {
    font-size: 18px;
  }

  .totalRow {
    font-size: 16px;
  }

  .imggecart {
    max-width: 50px;
    max-height: 50px;
  }
}

@media (max-width: 480px) {
  .secondpart {
    padding: 10px;
  }

  .priceDetails {
    padding: 10px;
  }

  .detailRow span {
    font-size: 12px;
  }

  .totalRow {
    font-size: 14px;
  }
}
